body {
  background-color: #348cbbbc;
}
.container {
  display: flex;
  flex: 1;
}
.contentContainer {
  background-color: #fcfcfc;
  margin: auto;
  margin-top: 1.58%;
  height: 580px !important;
  width: 90%;
  border-radius: 25px;
}
.content {
  padding: 20px 30px;
}
.textLogo {
  font-family: 'Ubuntu', sans-serif;
  font-size: 28px;
  padding: 4px 3px;
}
.headerContainer {
  display: flex;
  align-content: center;
}
.headerRight {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  margin-left: auto;
  padding: 0 3px;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 80px;
  margin-left: 16px;
  padding: 14px;
  cursor: pointer;

  font-size: 16px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  background-color: #41abe4;
  border: none;
  color: #ffff;
  border-radius: 30px;

  transition-timing-function: linear;
  transition-duration: 0.2s;
}
.app:hover {
  box-shadow: 0 0 5px black;
}
.containerMain {
  display: flex;
}
.illustration {
  margin-top: 1%;
  height: 450px;
  width: 650px;
  margin-left: -1.5%;
}
.illustrationImg {
  height: 100%;
  width: 100%;
}
.contentMain {
  margin-top: 8%;
  margin-left: 0%;
}
.textMain {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 35px;
  text-align: center;
}
.textSecondary {
  margin-top: 4%;
  font-size: 17px !important;
}
.button {
  height: 15%;
  width: 40%;
  background-color: #4fb9c7;
  border: none;
  border-radius: 20px;
  margin-top: 5%;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition-timing-function: linear;
  transition-duration: 0.5s;
}
.button:hover {
  opacity: 0.9;
  box-shadow: 0 0 4px black;
}
.button span {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.icon {
  margin-left: 20px;
}
